In [11]:
data1 = [{'id': 'ChIJG9QoK3akfDUR5CXdMyJ_RSE', 'name': 'Sim-Yang', 'address': '2 Cheongdam-dong, Gangnam-gu', 'types': ['restaurant', 'food', 'point_of_interest', 'establishment'], 'coordinates': {'lat': 37.5229812, 'lng': 127.0402214}, 'rating': 4.2, 'rating_n': 263, 'populartimes': [{'name': 'Monday', 'data': [23, 18, 13, 7, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15, 38, 64, 74, 63, 46, 35]}, {'name': 'Tuesday', 'data': [27, 18, 11, 5, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 14, 41, 74, 85, 66, 44, 35]}, {'name': 'Wednesday', 'data': [33, 24, 13, 5, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 17, 47, 83, 97, 80, 57, 47]}, {'name': 'Thursday', 'data': [40, 26, 12, 3, 3, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 30, 58, 75, 66, 44, 32]}, {'name': 'Friday', 'data': [27, 23, 15, 8, 5, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 49, 80, 88, 72, 55, 50]}, {'name': 'Saturday', 'data': [49, 41, 26, 13, 6, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 22, 51, 85, 100, 81, 51, 35]}, {'name': 'Sunday', 'data': [34, 34, 26, 15, 4, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 32, 60, 77, 73, 53, 36, 27]}], 'time_wait': [{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'Tuesday', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'Wednesday', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15, 15, 0, 0, 0]}, {'name': 'Thursday', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'Friday', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15, 0, 0, 0]}, {'name': 'Saturday', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15, 15, 15, 0, 0]}, {'name': 'Sunday', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15, 15, 0, 0, 0]}], 'time_spent': [90, 150]}]
mon = data1[0]["populartimes"][0]["data"]
tue = data1[0]["populartimes"][1]["data"]
wed=data1[0]["populartimes"][2]["data"]
thur =data1[0]["populartimes"][3]["data"]
fri =data1[0]["populartimes"][4]["data"]
sat = data1[0]["populartimes"][5]["data"]
sun = data1[0]["populartimes"][6]["data"]

time_list = ["00:00:00","01:00:00","02:00:00","03:00:00","04:00:00","05:00:00","06:00:00","07:00:00","08:00:00","09:00:00","10:00:00","11:00:00","12:00:00","13:00:00","14:00:00","15:00:00","16:00:00","17:00:00","18:00:00","19:00:00","20:00:00","21:00:00","22:00:00","23:00:00","24:00:00"]
print(mon)
print(("monday",time_list[0],mon[0]))
print(("monday",time_list[1],mon[0]))
data1[0]['id']

[23, 18, 13, 7, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15, 38, 64, 74, 63, 46, 35]
('monday', '00:00:00', 23)
('monday', '01:00:00', 23)

'ChIJG9QoK3akfDUR5CXdMyJ_RSE'

In [ ]:
#schema
t1 = (id,str(code), code_name, name, address, lat, lng, types, rating, rating_n,timespent_min, timespent_max)

[
    {
        "name": "id",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "code",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "code_name",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "store_name",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "address",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "lat",
        "type": "FLOAT",
        "mode": "NULLABLE"
    },
    {
        "name": "lng",
        "type": "FLOAT",
        "mode": "NULLABLE"
    },
    {
        "name": "types",
        "type": "STRING",
        "mode": "REPEATED"
    },
    {
        "name": "rating",
        "type": "FLOAT",
        "mode": "NULLABLE"
    },
    {
        "name": "rating_n",
        "type": "INTEGER",
        "mode": "NULLABLE"
    },
    {
        "name": "timespent_min",
        "type": "INTEGER",
        "mode": "NULLABLE"
    },
    {
        "name": "timespent_max",
        "type": "INTEGER",
        "mode": "NULLABLE"
    }
]

In [ ]:
t2 = (id,code,day, time, data1[0]["populartimes"][i]["data"][j])

[
    {
        "name": "id",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "code",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "dayofweek",
        "type": "STRING",
        "mode": "NULLABLE"
    },
    {
        "name": "hour",
        "type": "TIME",
        "mode": "NULLABLE"
    },
    {
        "name": "popular_data",
        "type": "INTEGER",
        "mode": "NULLABLE"
    }
]