In [63]:
{'type': 'Feature', 'properties': {'TRDAR_SE_C': 'D', 'TRDAR_SE_1': '발달상권', 'TRDAR_CD': '1001161', 'TRDAR_CD_N': '건대입구역', 'XCNTS_VALU': 206329, 'YDNTS_VALU': 448779, 'SIGNGU_CD': '11215', 'ADSTRD_CD': '11215840', 'STDR_YM_CD': '201810'}, 'geometry': {'type': 'Polygon', 'coordinates': [[[206475.189999998, 448843.659999996], [206560.959999993, 448815.509999998], [206561.29999999702, 448827.449999996], [206581.019999996, 448821.409999996], [206558.36999999703, 448726.46999999904], [206553.819999993, 448707.549999997], [206437.389999993, 448747.93999999797], [206353.16999999402, 448774.16999999405], [206335.86, 448732.66999999405], [206316.439999998, 448686.14999999903], [206285.689999998, 448606.319999993], [206283.399999999, 448607.28999999905], [206214.11, 448637.0], [206137.149999999, 448668.5], [206138.41999999402, 448672.259999998], [206153.569999993, 448711.10999999905], [206178.71999999898, 448776.569999993], [206195.079999998, 448820.0], [206216.229999997, 448876.09999999404], [206239.61, 448938.159999996], [206475.189999998, 448843.659999996]]]}},

{'TRDAR_SE_C': 'D', 'TRDAR_SE_1': '발달상권', 'TRDAR_CD': '1001161', 'TRDAR_CD_N': '건대입구역', 'XCNTS_VALU': 206329, 'YDNTS_VALU': 448779, 'SIGNGU_CD': '11215', 'ADSTRD_CD': '11215840', 'STDR_YM_CD': '201810'}
[[206475.189999998, 448843.659999996], [206560.959999993, 448815.509999998], [206561.29999999702, 448827.449999996], [206581.019999996, 448821.409999996], [206558.36999999703, 448726.46999999904], [206553.819999993, 448707.549999997], [206437.389999993, 448747.93999999797], [206353.16999999402, 448774.16999999405], [206335.86, 448732.66999999405], [206316.439999998, 448686.14999999903], [206285.689999998, 448606.319999993], [206283.399999999, 448607.28999999905], [206214.11, 448637.0], [206137.149999999, 448668.5], [206138.41999999402, 448672.259999998], [206153.569999993, 448711.10999999905], [206178.71999999898, 448776.569999993], [206195.079999998, 448820.0], [206216.229999997, 448876.09999999404], [206239.61, 448938.159999996], [206475.189999998, 448843.659999996]]

206475.189999998
448843.659999996
206239.61
448938.159999996

In [248]:
import json
import csv


with open('TBGIS_TRDAR_RELM.json','r') as jsonfile:
    data =jsonfile.read()

jsonobj = json.loads(data)
jsonobj["features"][1000]["geometry"]["coordinates"][0][0]
print(jsonobj["features"][10]["geometry"]["coordinates"][0][0])
print(jsonobj["features"][10]["geometry"]["coordinates"][0][-2])
print(jsonobj["features"][1100])
print()
#print(jsonobj["features"][1100]["geometry"]["coordinates"][0][1])
#print(jsonobj["features"][1100]["geometry"]["coordinates"][0][-2])

[190933.819999993, 440662.409999996]
[190943.86, 440791.39999999903]
{'type': 'Feature', 'properties': {'TRDAR_SE_C': 'D', 'TRDAR_SE_1': '발달상권', 'TRDAR_CD': '1001249', 'TRDAR_CD_N': '서울 은평구 불광역_2', 'XCNTS_VALU': 193889, 'YDNTS_VALU': 456757, 'SIGNGU_CD': '11380', 'ADSTRD_CD': '11380520', 'STDR_YM_CD': '201810'}, 'geometry': {'type': 'Polygon', 'coordinates': [[[193976.729999997, 456650.85999999905], [193918.659999996, 456610.93], [193899.5, 456637.78999999905], [193892.229999997, 456647.95999999304], [193871.039999999, 456677.86999999697], [193836.379999995, 456727.5], [193771.349999994, 456821.309999995], [193822.069999993, 456844.59999999404], [193846.949999996, 456856.049999997], [193868.959999993, 456875.84999999404], [193887.05999999502, 456896.229999997], [193948.899999999, 456805.819999993], [193927.139999993, 456791.589999996], [193957.019999996, 456744.659999996], [193963.759999998, 456734.09999999404], [193971.91999999402, 456721.25], [193981.29999999702, 456706.53999999905], [193962.979999997, 456695.02999999403], [193976.729999997, 456650.85999999905]]]}}

In [ ]:
{'type': 'Polygon',
 'coordinates': [[[190933.819999993, 440662.409999996],
   [190931.269999996, 440628.629999995],
   [190872.769999996, 440632.009999998],
   [190858.819999993, 440635.93],
   [190871.21999999898, 440792.379999995],
   [190804.36999999703, 440793.28999999905],
   [190785.459999993, 440793.52999999403],
   [190685.349999994, 440794.909999996],
   [190669.839999996, 440839.36999999697],
   [190666.16999999402, 440849.889999993],
   [190715.579999998, 440867.229999997],
   [190770.21999999898, 440886.36999999697],
   [190747.389999993, 440949.93999999797],
   [190809.79999999702, 440967.229999997],
   [190957.459999993, 440961.41999999405],
   [190943.939999998, 440792.39999999903],
   [190943.86, 440791.39999999903],
   [190933.819999993, 440662.409999996]]]}

In [36]:
keylist = []
for key in jsonobj["features"][0]:
    keylist.append(key)


#for key in jsonobj["properie"]
상권_구분_코드=jsonobj["features"][1]["properties"]['TRDAR_SE_C']
상권_코드=jsonobj["features"][1]["properties"]['TRDAR_CD']
상권_코드_명 = jsonobj["features"][1]["properties"]['TRDAR_CD_N']
상권_구분_코드_{'type': 'Feature',
  'properties': {'TRDAR_SE_C': 'R',
   'TRDAR_SE_1': '전통시장',
   'TRDAR_CD': '1001453',
   'TRDAR_CD_N': '낙성대시장',
   'XCNTS_VALU': 196121,
   'YDNTS_VALU': 442084,
   'SIGNGU_CD': '11620',
   'ADSTRD_CD': '11620585',
   'STDR_YM_CD': '201810'},
  'geometry': {'type': 'Polygon',
   'coordinates': [[[196213.759999998, 442152.079999998],
     [196186.889999993, 442092.16999999405],
     [196171.909999996, 442052.069999993],
     [196168.79999999702, 442042.21999999904],
     [196143.54999999702, 442050.579999998],
     [196133.389999993, 442018.52999999403],
     [196158.629999995, 442010.43],
     [196154.41999999402, 441997.629999995],
     [196125.759999998, 442006.829999998],
     [196097.729999997, 442015.839999996],
     [196040.0, 442034.41999999405],
     [196070.25, 442128.36999999697],
     [196067.21999999898, 442148.89999999903],
     [196156.71999999898, 442134.46999999904],
     [196198.239999995, 442159.229999997],
     [196213.759999998, 442152.079999998]]]}}명 =jsonobj["features"][0]["properties"]['TRDAR_SE_1']
#경계 point 2개 선택/min, max에 가까운 두 좌표를 선택한다.
엑스좌표_값=jsonobj["features"][1000]["geometry"]["coordinates"][0][1][0]
엑스좌표_값1=jsonobj["features"][1000]["geometry"]["coordinates"][0][1][1]
와이좌표_값=jsonobj["features"][1000]["geometry"]["coordinates"][0][-2][0]
와이좌표_값1=jsonobj["features"][1000]["geometry"]["coordinates"][0][-2][1]

#[195236.25, 442375.96999999904], [195117.009999998, 442441.95999999304]]
list = [상권_구분_코드,상권_코드,상권_코드_명,상권_구분_코드_명, 엑스좌표_값,엑스좌표_값1, 와이좌표_값, 와이좌표_값1]
print(list)

        x=jsonobj["features"][i]["geometry"]["coordinates"][0][1][0]
        y=jsonobj["features"][i]["geometry"]["coordinates"][0][1][1]
        x1=jsonobj["features"][i]["geometry"]["coordinates"][0][-2][0]
        y1=jsonobj["features"][i]["geometry"]["coordinates"][0][-2][1]

['R', '1001454', '봉천제일종합시장', '전통시장', 193075.41999999402, 450379.84999999404, 193105.91999999402, 450500.739999995]

In [189]:
import csv
count = len(jsonobj["features"])
print(count)
f = open('상권_좌표.csv', 'w', encoding ='utf-8')
wr = csv.writer(f)
for i in range(count):
    상권_구분_코드=jsonobj["features"][i]["properties"]['TRDAR_SE_C']
    상권_코드=jsonobj["features"][i]["properties"]['TRDAR_CD']
    상권_코드_명 = jsonobj["features"][i]["properties"]['TRDAR_CD_N']
    상권_구분_코드_명 =jsonobj["features"][i]["properties"]['TRDAR_SE_1']
    if(jsonobj["features"][i]["geometry"]['type'] == 'Polygon'):
        x=jsonobj["features"][i]["geometry"]["coordinates"][0][1][0]
        y=jsonobj["features"][i]["geometry"]["coordinates"][0][1][1]
        x1=jsonobj["features"][i]["geometry"]["coordinates"][0][-2][0]
        y1=jsonobj["features"][i]["geometry"]["coordinates"][0][-2][1]
       

    else:
        x=jsonobj["features"][i]["geometry"]["coordinates"][0][0][1][0]
        y=jsonobj["features"][i]["geometry"]["coordinates"][0][0][1][1]
        x1=jsonobj["features"][i]["geometry"]["coordinates"][0][0][-2][0]
        y1=jsonobj["features"][i]["geometry"]["coordinates"][0][0][-2][1]

        
    insert_row = [상권_구분_코드,상권_코드,상권_코드_명,상권_구분_코드_명,x,y,x1,y1]
    wr.writerow(insert_row)
f.close()

1496

In [217]:
import pandas as pd
o = pd.read_csv("output.csv")
ex = o
o.head()
len(o)

1496

In [221]:
from pyproj import Proj, transform
import numpy as np
proj_UTMK = Proj(init = 'epsg:5181')
proj_WGS84 = Proj(init = 'epsg:4326')
for i in range(len(ex)):
    ex['x'][i], ex['y'][i] = transform(proj_UTMK, proj_WGS84, ex['x'][i], ex['y'][i])
    ex['x1'][i], ex['y1'][i] = transform(proj_UTMK, proj_WGS84, ex['x1'][i], ex['y1'][i])

#x1,y1 = 194426,450896
#x2,y2 = transform(proj_UTMK, proj_WGS84, x1, y1)

c:\users\nb42\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\nb42\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

124.84982322950293

In [207]:
ex.head()

,상권_구분_코드,상권_코드,상권_코드_명,상권_구분_코드_명,x,y,x1,y1
0,R,1001453,낙성대시장,전통시장,196186.89,442092.17,196198.24,442159.23
1,R,1001454,봉천제일종합시장,전통시장,195236.25,442375.97,195117.01,442441.96
2,R,1001474,도곡시장,전통시장,204643.43,444178.42,204620.79,444238.43
3,R,1001475,강남개포시장,전통시장,206105.89,443345.88,205995.72,443290.14
4,R,1001412,화곡본동시장,전통시장,186195.02,449232.99,186225.90,449259.88

In [201]:
ex['x']
ex['y']

0       442092.17
1       442375.97
2       444178.42
3       443345.88
4       449232.99
          ...
1491    443219.96
1492    442663.29
1493    442376.16
1494    442555.45
1495    442810.69
Name: y, Length: 1496, dtype: float64

In [ ]:
from pyproj import Proj, transform
import numpy as np
#좌표계 정보 : GRS80TM
#구글 좌표계 : *WGS84 경위도

proj_UTMK = Proj(init = 'epsg:5181')
proj_WGS84 = Proj(init = 'epsg:4326')

x1,y1 = 194426,450896
x2,y2 = transform(proj_UTMK, proj_WGS84, x1, y1)
print(x2,y2)

298.396084